* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: #2a9d8f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
    color: #e9c46a;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 5em;
    font-weight: bold;
    transition: all 1s linear;
    transform: translate(0, 0);
    color: #e76f51;
    letter-spacing: 10px;
}